.button-primary-large-3 {
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;

  border-radius: 32px;

  background-color: black;

  transition: background-color 300ms ease;

  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button-primary-large-3:hover {
  background-color: hsla(0, 77.51%, 48.82%, 1.00);
}

.label-style {
  display: flex;
  width: auto;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.text-25 {
  margin-top: 0px;
  margin-bottom: 0px;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.18000000715255737px;
  text-decoration: none;
}

.arrow-right-up-line {
  overflow-x: hidden;
  overflow-y: hidden;
  object-fit: cover;
}