.section-regular-6 {
  padding: 96px 5%;
}

@media screen and (max-width: 767px) {
  .section-regular-6 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.section-regular-6.background-gray-50 {
  display: block;
  margin: auto;
  padding: 20px 25px;
  justify-content: center;
  align-items: center;
  flex: 1;

  background-color: hsl(40, 14%, 96%);
}

@media screen and (max-width: 479px) {
  .section-regular-6.background-gray-50 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.section-regular-6.background-gray-50.brand-grid {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.container-small {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.title-center-regular {
  display: flex;
  max-width: 820px;
  margin-right: auto;
  margin-bottom: 64px;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  text-align: center;
}

.h2-heading-9 {
  margin-top: 0px;
  margin-bottom: 0px;

  color: hsl(0, 0%, 0%);
  font-size: 56px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.8px;
}

@media screen and (max-width: 767px) {
  .h2-heading-9 {
    font-size: 40px;
  }
}

.faq-tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.faq-tabs-menu {
  display: flex;
  width: 100%;
  max-width: none;
  margin-bottom: 48px;
  padding: 4px;
  justify-content: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: hsl(24, 6%, 83%);
  border-radius: 96px;

  background-color: hsl(30, 17%, 93%);
}

@media screen and (max-width: 479px) {
  .faq-tabs-menu {
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 24px;
  }
}

.faq-tab-link {
  display: flex;
  width: 100%;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 96px;

  background-color: transparent;

  transition: all 200ms ease;

  color: hsl(40, 1%, 54%);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

.faq-tab-link:hover {
  background-color: hsl(40, 14%, 96%);
  color: hsl(40, 1%, 44%);
}

.faq-tab-link:global(.w--current) {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  color: hsl(30, 1%, 30%);
  font-weight: 600;
  box-shadow: 0px 3px 2px 0px rgba(32, 31, 31, 0.00), 0px 2px 1px 0px rgba(32, 31, 31, 0.01), 0px 1px 1px 0px rgba(32, 31, 31, 0.04), 0px 1px 1px 0px rgba(32, 31, 31, 0.07);
}

.faq-list-wrapper-small {
  display: flex;
  max-width: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.faq-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.faq-item {
  display: flex;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  flex-direction: column;
  flex-wrap: nowrap;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  background-color: hsl(0, 0%, 100%);

  box-shadow: 0px 3px 2px 0px rgba(32, 31, 31, 0.00), 0px 2px 1px 0px rgba(32, 31, 31, 0.01), 0px 1px 1px 0px rgba(32, 31, 31, 0.04), 0px 1px 1px 0px rgba(32, 31, 31, 0.07);
}

.faq-toggle {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  align-items: stretch;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  color: hsl(0, 2%, 12%);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.icon-regular-5 {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.icon-regular-5.hide {
  display: none;
}

.hide {
  display: none;
}

.faq-dropdown-contet {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.faq-dropdown-padding {
  padding-right: 24px;
  padding-bottom: 8px;
}

.paragraph-small-17 {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 24px;
}

.paragraph-small-17.text-color-gray-800 {
  color: hsl(30, 1%, 30%);
}

.text-color-gray-800 {
  color: hsl(30, 1%, 30%);
}

.button-primary-13 {
  display: inline-flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 96px;

  background-color: black;

  transition: background-color 300ms ease;

  color: hsl(0, 0%, 100%);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}

.button-primary-13:hover {
  background-color: hsla(0, 77.51%, 48.82%, 1.00);
}

#w-node-_7c44c8a3-68a2-082d-75e8-83b5877d9b03-877d9afc {
}
#w-node-_7c44c8a3-68a2-082d-75e8-83b5877d9b10-877d9afc {
}
#w-node-_7c44c8a3-68a2-082d-75e8-83b5877d9b11-877d9afc {
}
#w-node-_7c44c8a3-68a2-082d-75e8-83b5877d9b50-877d9afc {
}
#w-node-_7c44c8a3-68a2-082d-75e8-83b5877d9b51-877d9afc {
}
#w-node-_7c44c8a3-68a2-082d-75e8-83b5877d9b91-877d9afc {
}
#w-node-_7c44c8a3-68a2-082d-75e8-83b5877d9b92-877d9afc {
}