.section-3 {
  background-color: hsla(40.00000000000019, 14.29%, 95.88%, 1.00);
}

.container-large-10 {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container-large-10 {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .container-large-10 {
    max-width: 500px;
  }
}

.footer-row-2 {
  display: flex;
  margin-bottom: 64px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.footer-left {
  display: flex;
  max-width: 330px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.footer-company {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.row-regular {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.footer-social-link {
  transition: color 300ms ease;
  color: #5b616e;
  text-decoration: none;
}

.footer-social-link:hover {
  color: #ff4b0e;
}

.icon-small-4 {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.icon-small-4:hover {
  color: hsla(0, 77.51%, 48.82%, 1.00);
}

.paragraph-regular-4 {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.button-main {
  position: static;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 180px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  border-radius: 96px;

  background-color: hsla(0, 0.00%, 10.20%, 1.00);

  transition: all 200ms ease;

  text-decoration: none;
}

.button-main:hover {
  background-color: hsla(0, 0.00%, 20.00%, 1.00);
  background-image: none;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
  transform: translate(0px, -2px);
}

.button-main:active {
  background-color: hsla(0, 0.00%, 5.10%, 1.00);
  transform: scale(0.98) translate(0px, 0px) translate(0px, -2px);
}

@media screen and (max-width: 479px) {
  .button-main {
    width: 120px;
    height: 30px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.button-main.pagination-button {
  width: 100px;
}

@media screen and (min-width: 1440px) {
  .button-main.pagination-button {
    margin-right: auto;
  }
}

.button-main.footerbutton {
  margin-right: 0px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .button-main.footerbutton {
    height: 40px;
  }
}

@media screen and (max-width: 479px) {
  .button-main.viewmore {
    margin-right: auto;
  }
}

.button-main.auto {
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .button-main.auto {
    margin-right: auto;
  }
}

@media screen and (max-width: 479px) {
  .code-embed-31 {
    width: 20px;
  }
}

.text-block-42 {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .text-block-42 {
    font-size: 10px;
    line-height: 12px;
  }
}

.footer-links-grid {
  width: 100%;
  max-width: 570px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .footer-links-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .footer-links-grid {
    grid-template-columns: 1fr;
  }
}

.column-x-large {
  display: flex;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.subheading-large-5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.subheading-large-5.text-color-brand-purple {
  color: #6153bd;
}

.column-large-4 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.footer-link-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  transition: color 300ms ease;

  color: #5b616e;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-link-2:hover {
  color: hsla(0, 77.51%, 48.82%, 1.00);
}

.footer-link-2.none {
  display: none;
}

.text-block-46 {
  font-size: 16px;
}

.code-embed-21 {
  width: 24px;
  height: 24px;
  color: hsla(221.05263157894737, 0.00%, 29.07%, 1.00);
}

.footer-legal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.footer-legal-links-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.footer-legal-link-2 {
  transition: color 300ms ease;
  color: #5b616e;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.footer-legal-link-2:hover {
  color: black;
}

.footer-vertical-divider {
  width: 1px;
  height: 20px;
  background-color: #d8dbdf;
}

@media screen and (max-width: 479px) {
  .footer-vertical-divider {
    display: none;
  }
}

.paragraph-small-10 {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.08px;
}

.paragraph-small-10.text-color-tertiary {
  color: #5b616e;
}

.text-color-tertiary {
  color: #5b616e;
}

#w-node-_8358f544-a09b-a69f-53ef-d2154027cef8-4027cee2 {
}
#w-node-_8358f544-a09b-a69f-53ef-d2154027cf1c-4027cee2 {
}
#w-node-_8358f544-a09b-a69f-53ef-d2154027cf0c-4027cee2 {
}